ion-content{
    --ion-background-color:rgb(241, 240, 237);

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .scaledAlert {
    transform: scale(10);
  }
}

  ::ng-deep {
    .scaledAlert {
    --min-width: 200px;
    --max-width: 400px;
    --width: 80%;
    --justify-content: center;
  }
}
