// ion-content{
//     --ion-background-color:rgb(241, 240, 237);
// }

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 25s ease-in-out infinite alternate;
  background-image: linear-gradient(315deg, #f8ad5491 50%, #f19917 50%);
  bottom:0;
  left:-50%;
  opacity:.2;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:30s;
}

.bg3 {
  animation-duration:30s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .scaledAlert {
    transform: scale(10);
  }
}

  ::ng-deep {
    .scaledAlert {
    --min-width: 200px;
    --max-width: 400px;
    --width: 80%;
    --justify-content: center;
  }
}

.unpulse-button {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 0 0 0 0 #ebbd75;
  border-radius: 50%;
  background-color: #ff9f04;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.pulse-button {

  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 0 0 0 0 #ebbd75;
  border-radius: 50%;
  background-color: #ff9f04;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.audio-div {
  position: fixed;
    bottom: 5px;
    right: 5px; 
}
