ion-card {
  box-shadow: none;
  border: 1px solid #e1e1e1;
  max-width: 600px;

  ion-card-title {
      font-size: 1rem !important;
      padding: 10px;
  }
}

.numero-etape {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 0.85rem !important;
}

.libelle-etape {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.5rem !important;
}

.next {
  --background: #ff9f04;
  bottom: 10px;
  display: flex;
}

$lightning-size: 18px;


.text-arab {
  direction: rtl;
}

.app-toast {
  text-align: center;
}

.desc {
  color: grey;
}

.table {
  padding: 5px;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
}
