<ion-label *ngIf="!isArab" class="numero-etape">étape 0{{ question.id_step }}/04</ion-label>
<ion-label *ngIf="isArab" class="numero-etape">4\{{ question.id_step }} مرحلة</ion-label>
<ion-label *ngIf="!isArab" class="libelle-etape">{{ question.Libelle_step }}</ion-label>
<ion-label *ngIf="isArab" class="libelle-etape">{{ question.libelle_step_ar }}</ion-label>
<ion-card>
    <ng-container *ngIf="question.id_step != '4' && question.id_step != '2'">
        <ion-list [class.text-arab]="isArab">
            <ion-radio-group [value]="response" (ionChange)="selectChoice($event)">
                <ion-list-header>
                    <ion-label *ngIf="!isArab">{{ question.Libelle_quest }}/{{ numberOfQuestions }}</ion-label>
                    <ion-label style="margin-right:1rem;" dir="rtl" *ngIf="isArab">{{ question.Libelle_quest_ar }}/{{ numberOfQuestions }}</ion-label>
                </ion-list-header>

                <ion-item *ngFor="let choix of question.choix">
                    <p *ngIf="!isArab">{{ choix.libellechoix }}</p>
                    <p *ngIf="isArab">{{ choix.choix_ar }}</p>
                    <ion-radio slot="start" [value]="choix.code_holland"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </ng-container>

    <ng-container *ngIf="question.id_step == '2'">
        <ion-card-title *ngIf="!isArab">{{ question.Libelle_quest }}/{{ numberOfQuestions }}</ion-card-title>
        <ion-card-title style="margin-right:1rem;" dir="rtl" *ngIf="isArab">{{ question.Libelle_quest_ar }}/{{ numberOfQuestions }}</ion-card-title>
        <ion-list [class.text-arab]="isArab">
            <ion-item *ngFor="let choix of question.choix;let i=index">
                <p *ngIf="!isArab">{{ choix.libellechoix }}</p>
                <p *ngIf="isArab">{{ choix.choix_ar }}</p>
                <ion-checkbox slot="start" [checked]="isChecked(choix.id)" (ionChange)="selectStepTwoResponses($event, i)"></ion-checkbox>
            </ion-item>
        </ion-list>
    </ng-container>

    <ng-container *ngIf="question.id_step == '4'">
        <ion-card-title *ngIf="!isArab">{{ question.choix[index].libellechoix }}</ion-card-title>
        <ion-card-title *ngIf="isArab">{{ question.choix[index].choix_ar }}</ion-card-title>
        <ion-grid>
            <ion-row>
                <ion-col size="5" class="cell-class"
                    [style]="'border-color:' + (currentChoice == Level.Fort ? '#ff9f04;' : '#333;')"
                    (click)="selectChoiceBox(Level.Fort)">
                    <div class="battery">
                        <div class="battery-level" style="background:#30b455; height:100%;"></div>
                    </div>
                    <ion-label class="level-indicator">{{'STRONG' | translate}}</ion-label>
                </ion-col>
                <ion-col size="5" class="cell-class"
                    [style]="'border-color:' + (currentChoice == Level.Moyen ? '#ff9f04;' : '#333;')"
                    (click)="selectChoiceBox(Level.Moyen)">
                    <div class="battery">
                        <div class="battery-level" style="background:#ff9f04; height:50%;"></div>
                    </div>
                    <ion-label class="level-indicator">{{'INTERMEDIATE' | translate}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="5" class="cell-class"
                    [style]="'border-color:' + (currentChoice == Level.Faible ? '#ff9f04;' : '#333;')"
                    (click)="selectChoiceBox(Level.Faible)">
                    <div class="battery">
                        <div class="battery-level" style="background:#e81309; height:10%;"></div>
                    </div>
                    <ion-label class="level-indicator">{{'WEAK' | translate}}</ion-label>
                </ion-col>
            </ion-row>


        </ion-grid>
    </ng-container>

</ion-card>

<ion-button class="next" (click)="goToNextQuestion()">{{'NEXT_QUESTION' | translate}}</ion-button>