<ion-label *ngIf="!isArab" class="numero-etape">étape 0{{ question.id_step }}/04</ion-label>
<ion-label *ngIf="isArab" class="numero-etape">4\{{ question.id_step }} مرحلة</ion-label>
<ion-label *ngIf="!isArab" class="libelle-etape">{{ question.Libelle_step }}</ion-label>
<ion-label *ngIf="isArab" class="libelle-etape">{{ question.libelle_step_ar }}</ion-label>
<div class="audio-div">
    <ion-button class="audio" (click)="start(question.id_step)">
        <ion-icon slot="icon-only" name="mic-circle-outline"></ion-icon>
    </ion-button>
</div>
<ion-card>
    <ion-card-title style="color:grey;text-align: justify;" [class.text-arab]="isArab">
        {{ getStepDescription(question.id_step) }}
    </ion-card-title>
    <ng-container *ngIf="question.id_step != '4' && question.id_step != '3'">
        <ion-list [class.text-arab]="isArab">
            <ion-radio-group [value]="response" (ionChange)="selectChoice($event)">
                <ion-list-header>
                    <ion-label *ngIf="!isArab">{{ question.Libelle_quest }}/{{ numberOfQuestions }}
                        ({{ 'SINGLE_CHOICE' | translate }})</ion-label>
                    <ion-label style="margin-right:1rem;" dir="rtl" *ngIf="isArab">
                        {{ question.Libelle_quest_ar }}/{{ numberOfQuestions }} ({{ 'SINGLE_CHOICE' | translate }})
                    </ion-label>
                </ion-list-header>

                <ion-item *ngFor="let choix of question.choix">
                    <p *ngIf="!isArab">{{ choix.libellechoix }}</p>
                    <p *ngIf="isArab">{{ choix.choix_ar }}</p>
                    <ion-radio slot="start" [value]="choix.code_holland"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </ng-container>

    <ng-container *ngIf="question.id_step == '3'">
        <ion-card-title *ngIf="!isArab">{{ question.Libelle_quest }}/{{ numberOfQuestions }}
            ({{ 'MULTIPLE_CHOICE' | translate }})</ion-card-title>
        <ion-card-title style="margin-right:1rem;" dir="rtl" *ngIf="isArab">
            {{ question.Libelle_quest_ar }}/{{ numberOfQuestions }} ({{ 'MULTIPLE_CHOICE' | translate }})
        </ion-card-title>
        <ion-list [class.text-arab]="isArab">
            <ion-item *ngFor="let choix of question.choix;let i=index">
                <p *ngIf="!isArab">{{ choix.libellechoix }}</p>
                <p *ngIf="isArab">{{ choix.choix_ar }}</p>
                <ion-checkbox slot="start" [checked]="isChecked(choix.id)"
                    (ionChange)="selectStepThreeResponses($event, i)"></ion-checkbox>
            </ion-item>
        </ion-list>
    </ng-container>

    <ng-container *ngIf="question.id_step == '4'">
        <ion-card-title *ngIf="!isArab">{{ question.Libelle_quest }}/{{ numberOfQuestions }}</ion-card-title>
        <ion-card-title style="margin-right:1rem;" dir="rtl" *ngIf="isArab">
                {{ question.Libelle_quest_ar }}/{{ numberOfQuestions }}
            </ion-card-title>
        <table [class.text-arab]="isArab">
            <thead>
                <tr>
                    <th></th>
                    <th style="color:#e81309;">{{'WEAK' | translate}}</th>
                    <th style="color:#ff9f04;">{{'INTERMEDIATE' | translate}}</th>
                    <th style="color:#30b455;">{{'STRONG' | translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let choix of question.choix; let index=index">
                    <td>
                        <p *ngIf="!isArab">{{ choix.libellechoix }}</p>
                        <p *ngIf="isArab" style="text-align:right;">{{ choix.choix_ar }}</p>
                    </td>
                    <td>
                        <input type="radio" (input)="selectChoiceLevel(Level.Faible, index)" [name]="'groupname'+index"
                            [value]="Level.Faible" [checked]="isCheckedLevel(Level.Faible, index)">
                    </td>
                    <td>
                        <input type="radio" (input)="selectChoiceLevel(Level.Moyen, index)" [name]="'groupname'+index"
                            [value]="Level.Moyen" [checked]="isCheckedLevel(Level.Moyen, index)">
                    </td>
                    <td>
                        <input type="radio" (input)="selectChoiceLevel(Level.Fort, index)" [name]="'groupname'+index"
                            [value]="Level.Fort" [checked]="isCheckedLevel(Level.Fort, index)">
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

</ion-card>

<ion-button class="next" (click)="goToNextQuestion()">{{'NEXT_QUESTION' | translate}}</ion-button>