<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button 
          *ngIf="showBack"
          (click)="onBackClicked()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button 
          *ngIf="showHome"
          (click)="onHomeClicked()">
          <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons> 
    <div class="profile">
      <ion-button disabled="true" fill="clear" color="dark">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-label style="font-family:Helvetica Neue, Helvetica, sans-serif;">{{ tokenInfo.prenom }}</ion-label>
    </div>
    
    <img src="./assets/img/logo2.png" alt="logo" slot="end">
  </ion-toolbar>
</ion-header>

