<ion-content>
  <div class="title-container">
    <img src="./assets/img/graduation_hat.png" alt="logo">
  </div>
  <ion-card>
      <ion-radio-group [value]="language" (ionChange)="selectLanguage($event)">
          <ion-item>
              <p>Français</p>
              <ion-radio slot="start" value="fr"></ion-radio>
          </ion-item>
          <ion-item>
              <p>عربية</p>
              <ion-radio slot="start" value="ar"></ion-radio>
          </ion-item>
      </ion-radio-group>
      <ion-button [disabled]="language == null" (click)="goToAuth()" expand="block">
        {{ 'START' | translate }}
        </ion-button>
  </ion-card>

  

</ion-content>