<app-header
  [showBack]="true"
  (backClickEvent)="backClick()">
</app-header>
<ion-content>
  <div class="container">
  <ion-card>
    <ng-container *ngIf="showType">
      <ion-card-title> Êtes-vous ? </ion-card-title>
      <ion-grid>
        <ion-row>
            <ion-col 
                size="5" 
                class="cell-class"
                [style]="'border-color:' + (typeUtilisateur == TypeUtilisateur.Etudiant ? '#ff9f04;' : '#333;')"
                (click)="selectTypeUtilisateur(TypeUtilisateur.Etudiant)">
                <img src="./assets/img/Student-01.png" alt="student">
                <ion-label class="indicator">Etudiant</ion-label>
            </ion-col>
            <ion-col 
                size="5" 
                class="cell-class"
                [style]="'border-color:' + (typeUtilisateur == TypeUtilisateur.Parent ? '#ff9f04;' : '#333;')"
                (click)="selectTypeUtilisateur(TypeUtilisateur.Parent)">
                <img src="./assets/img/parent.png" alt="student">
                <ion-label class="indicator">Parent</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ng-container>
    <ng-container *ngIf="showNiveau">
        <ion-card-title *ngIf="typeUtilisateur == TypeUtilisateur.Etudiant"> Votre situation actuelle </ion-card-title>
        <ion-card-title *ngIf="typeUtilisateur == TypeUtilisateur.Parent"> La situation actuelle de votre fils/ étudiant </ion-card-title>
        <ion-list>
          <ion-radio-group [value]="niveauEtude" (ionChange)="selectNiveauEtude($event)">
            <ion-item *ngFor="let niveau of listeNiveauxEtude">
                <p>{{ niveau.Libelle_niveau_etude }}</p>
                <ion-radio slot="start" [value]="niveau.id_niveau_etude"></ion-radio>
            </ion-item>
        </ion-radio-group>
        </ion-list>  
    </ng-container>
    <ng-container *ngIf="showAnnee">
        <ion-card-title> {{ libelleNiveau }} </ion-card-title>
        <ion-list>
            <ion-radio-group [value]="anneeEtude" (ionChange)="selectAnneeEtude($event)">
              <ion-item *ngFor="let annee of listeNiveauxEtude[indexNiveau].annees">
                  <p>{{ annee.libelle_annee_etude }}</p>
                  <ion-radio slot="start" [value]="annee.id_annee_etude"></ion-radio>
              </ion-item>
          </ion-radio-group>
        </ion-list>  
    </ng-container>
    <ng-container *ngIf="showTypeBac">
        <ion-card-title> Type de Baccalauréat </ion-card-title>
        <ion-list>
          <ion-radio-group [value]="typebac" (ionChange)="selectTypeBac($event)">
            <ion-item *ngFor="let typebac of listeTypesBac">
                <p>{{ typebac.libelle_typebac }}</p>
                <ion-radio slot="start" [value]="typebac.id_typebac"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>  
    </ng-container>
    <ng-container *ngIf="showNiveauFormation">
        <ion-card-title> Niveau de formation visé </ion-card-title>
        <ion-list>
            <ion-radio-group [value]="niveauFormation" (ionChange)="selectNiveauFormation($event)">
              <ion-item *ngFor="let nf of listeNiveauxFormation">
                <p>{{ getLibelleNiveauFormation(nf.libelle_nf) }}</p>
                <ion-radio slot="start" [value]="nf.id_nf"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>  
    </ng-container>
  </ion-card>
</div>
<ion-button class="next" (click)="Choose()">Choisir</ion-button>
</ion-content>
