ion-content {
  --ion-background-color: rgb(241, 240, 237);
}

ion-item {
  --ion-background-color: aqua;
}

.get-result,
.start-quiz,
.logout {
  // display: flex;
  position: fixed;
  right: 100px;
  left: 100px;
}

.get-result {
  --background: #3d5959b2;
  bottom: 130px;
}

.start-quiz {
  --background: #3d5959;
  bottom: 90px;
}

.logout {
  --background: #ff9f04;
  bottom: 50px;
}

:host .button-solid {
    @media only screen and (max-width: 550px) {
    font-size: 2.5vw !important;
  }
}
