// ion-content {
//   --ion-background-color: rgb(241, 240, 237);
// }



html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 25s ease-in-out infinite alternate;
  background-image: linear-gradient(315deg, #f8ad5491 50%, #f19917 50%);
  bottom:0;
  left:-50%;
  opacity:.2;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:30s;
}

.bg3 {
  animation-duration:30s;
}

.content {
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.get-result,
.start-quiz,
.logout {
  // display: flex;
  position: fixed;
  right: 100px;
  left: 100px;
}

.start-quiz {
  --background: #3d5959b2;
  bottom: 130px;
}

.get-result {
  --background: #3d5959;
  bottom: 90px;
}

.logout {
  --background: #ff9f04;
  bottom: 50px;
}

:host .button-solid {
    @media only screen and (max-width: 550px) {
    font-size: 2.5vw !important;
  }
}

.girl {
  position:absolute;
  left: 0;
  right: 0;
  margin:0 auto;
  top:60%;
  transform:translateY(-50%);
  width: 30%;
  min-width: 300px !important;
  max-width : 2000px !important;
}
